.timer-comtainer {
    border: 1px solid;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-color: lightgray;
}

.timer-title {
    color: darkblue;
}

.timer-display {
    border: 1px solid #000;
    border-radius: 0.5rem;
    text-align: right;
    font-size: x-large;
    font-weight: bold;
    padding: 0.25rem  0.5rem;
    width: 13rem;
}

.timer-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

