.components-container {
    border: 1px solid;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.5rem;
    background-image: url('./green.jpg');
    background-size: cover;
    background-position: center;
}
  
.app-title{
    font-size: 2rem;
}
  
.app-components {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}
  
.app-ct {
    display: grid;
    grid-template-columns: 1fr;
}
  
.app-tem {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
  
.app-name {
    font-size: 2rem;
}