.add-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: white;
}

.add-title {
    color: darkblue
}

.add-display {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.add-variables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 0.5rem
}


