.products-container {
    text-align: center;
    margin: auto;  
}

.products-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 560px;
    align-items: start;
}

.products-container img {
    width: 286px;
    height: 184px;
    object-fit: cover;
    border-radius: 0;
    margin: 0;
}